<table class="main" cellspacing="0" cellpadding="0" border="0" data-types="background,border-radius,padding,image-settings" data-last-type="background" style="background-color:#FFFFFF" align="center">
    <tbody>
        <tr>
            <td class="element-content" align="left" style="padding: 10px 50px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
                <table align="left" width="49%">
                    <tbody>
                        <tr>
                            <td contenteditable="true" align="center" class="element-contenteditable active">

                                <!-- <img border="0" class="content-image " src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97150&amp;w=240&amp;h=150" style="display: inline-block;margin: 0px;width:240px;height:150px"> -->
                                <div style="margin: 0px 0px 10px 0px; line-height: 22px;padding: 10px 0 0 0;text-align:left">
                                    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis
                                    aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table align="right" width="50%">
                    <tbody>
                        <tr>
                            <td contenteditable="true" align="center">
                                <!-- <img border="0" class="content-image " src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97150&amp;w=240&amp;h=150" style="display: inline-block;margin: 0px;width:240px;height:150px"> -->

                                <div style="margin: 0px 0px 10px 0px; line-height: 22px;padding: 10px 0 0 0;text-align:left">
                                    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis
                                    aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
