<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" data-types="background,padding,image-settings" align="center" data-last-type="background">
    <tbody>
        <tr>
            <td align="left" class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF;text-align:center">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td style="text-align:left" contenteditable="true">
                            <!-- <img border="0" class="content-image" src="https://placeholdit.imgix.net/~text?txtsize=10&txt=Logo&w=150&h=50" style="display: inline-block;margin:0px;width:150px;height:50px"> -->
                        </td>
                        <td contenteditable="true" style="text-align:right">
                            Your company, Pier 9,
                            <br> San Francisco, CA 12345
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
