
            <table  class="main" cellspacing="0" cellpadding="0" border="0"
                   data-types="background,border-radius,padding,image-settings"
                   data-last-type="padding"
                   style="background-color:#FFFFFF" align="center">
                <tbody>
                    <tr>
                        <td class="element-content"   align="center">
                          <table>
                            <tr>
                                  <td contenteditable="true" align="center"
                                  style="padding:10px 25px">
                              <!-- <img border="0" class="content-image"
                                   src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97150&amp;w=240&amp;h=150"
                                   style="display: inline-block;margin: 0px;width:100%;height:150px"> -->

                                </td>
                                <td contenteditable="true" align="center"    style="padding:10px 25px">

                                              <!-- <img border="0" class="content-image "
                                                   src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97150&amp;w=240&amp;h=150"
                                                   style="display: inline-block;margin: 0px;width:100%;height:150px"> -->

                                </td>
                            </tr>
                          </table>
                    </tr>
                </tbody>
            </table>
